@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Wes Website";
}



<!--Preferred Name-->
<h1>Weston Evans 230940932480932</h1>

<!--image doing something you enjoy-->
<img width="430" height="287" src="img/enjoy.jpg" alt="Me hiking with my wife" />

<!--IS 413 paragraph-->
<p>
    This semester in IS 413, I am hoping to learn the ASP.NET CORE Framework and how I can implement it
    into personal projects. I am excited to learn the differences between different web development tools and when
    to use them. I would also like to become a better programmer through constant practice
    and working with my group.
</p>

<!--List of top 3 jobs-->
<h2>Top #3 Jobs</h2>
<ol>
    <li>Cybersecurity Engineer</li>
    <li>Project Manager</li>
    <li>Data Analyst</li>
</ol>



