body {
    background-color: beige;
    margin: 20px;
}

label {
    width: 175px;
    display: inline-block;
}

input[type="button"] {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

